Source: netaddr
Maintainer: Matthias Urlichs <matthias@urlichs.de>
Section: python
Priority: optional
Build-Depends: dh-python, python3-setuptools, python3-all, debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: https://github.com/drkjam/netaddr/

Package: python3-netaddr
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: A network address manipulation library for Python
 .
         Provides support for:
 .
         Layer 3 addresses
         -----------------
 .
         - IPv4 and IPv6 addresses, subnets, masks, prefixes
         - iterating, slicing, sorting, summarizing and classifying IP networks
         - dealing with various ranges formats (CIDR, arbitrary ranges and globs, nmap)
         - set based operations (unions, intersections etc) over IP addresses and subnets
         - parsing a large variety of different formats and notations
         - looking up IANA IP block information
         - generating DNS reverse lookups
         - supernetting and subnetting
 .
         Layer 2 addresses
         -----------------
 .
         - representation and manipulation MAC addresses and EUI-64 identifiers
         - looking up IEEE organisational information (OUI, IAB)

